---
import IconGrid from "../components/IconGrid.astro";
import History from "../components/History.astro";
import { Image } from "@astrojs/image/components";
import PageLayout from "../layouts/PageLayout.astro";
import Articles from "../components/Articles.astro";
import AstroPhotos from "../components/AstroPhotos.astro";
---

<PageLayout title="Astro" background={`bg-[url("/backgrounds/stars.jpg")]`}>
  <div class="p-5 bg-neutral-800 text-white">
    <AstroPhotos />
  </div>
</PageLayout>
