---
import PageLayout from "../layouts/PageLayout.astro";
import AstroPhotos from "../components/AstroPhotos.astro";
---

<PageLayout title="Astro">
  <div class="p-5 bg-neutral-800 text-white">
    <AstroPhotos />
  </div>
</PageLayout>
