---
import { getCollection } from "astro:content";
import { Image } from "@astrojs/image/components";

const astroPosts = await getCollection("astro");
---

<div>
  <h1>Astrophotography</h1>
  <h2>Deep Sky Objects: Nebula and Galaxies</h2>
  <div class="grid grid-cols-2 md:grid-cols-3 gap-1">
    {
      astroPosts.map((post) => (
        <div>
          <h2>{post.data.title}</h2>
          <a href={`/astro/${post.slug}`}>
            <Image
              class="rounded-md"
              height={500}
              width={500}
              src={`/${post.data.image}`}
              alt={post.data.title}
              format="jpg"
            />
          </a>
        </div>
      ))
    }
  </div>
  <p>
    Astrophotography is using a telescope and a specialized camera to take
    extremely exposure photos of distant, deep sky objects like nebula and
    galaxies that are millions of light years away. It's like looking back in
    time. The images seen here are a glimpse of how a remote part of our
    universe looked millions of years ago. All images seen here were captured in
    either San Jose, California or Sydney, Australia from 2015 onward.
  </p>
</div>
