---
const { src, allow } = Astro.props;
const disabled = false;
---

<div class="w-full">
    {
        !disabled && (
            <iframe
                class="rounded-lg w-full h-full"
                src={src}
                allow={allow}
                allowfullscreen
            />
        )
    }
</div>
