---
const { src, allow } = Astro.props;
const disabled = false;
---

<div class="flex w-full flex-grow">
  {
    !disabled && (
      <iframe
        class="flex flex-row justify-center w-full h-64 rounded-lg"
        src={src}
        allow={allow}
        allowfullscreen
        class="flex-grow"
      />
    )
  }
</div>
