---
const { src, allow } = Astro.props;
const disabled = false;
---

<div class="flex w-full">
  {
    !disabled && (
      <iframe
        class="flex-grow rounded-lg"
        src={src}
        allow={allow}
        allowfullscreen
      />
    )
  }
</div>
