---
import PagePreview from "../components/PagePreview.astro";
---

<PagePreview
    page="music"
    title="Musician"
    subtitle="Guitar, Bass, Synths and Samplers"
    flipped={true}
>
    <div slot="left">
        <p class="text-1 mb-5">
            Music is my creative outlet. Long ago I learned to play guitar and
            bass guitar, and since then a passion for electronic music has taken
            over. I enjoy fusing together elements of electronic, alternative
            rock and industrial genres. In 2025 I've released three albums;
            <a href="/music/vos">Valley of Subconscious</a>, <a href="/music/mi"
                >Mi</a
            > and
            <a href="/music/leura">Leura</a>. These follow on from the 2019
            release of Exit Mesa which was recorded in San Jose and then mixed
            and mastered in Sydney and on my plane trips between the two. These
            albums uses a combination of electronic instruments, hardware and
            software, combined with guitar parts recorded live. I had the
            pleasure of performing work from this album at a few shows in San
            Francisco and Oakland.
        </p>
        <p class="text-1 mb-5">
            Music is my creative outlet. Long ago I learned to play guitar and
            bass guitar, and since then a passion for electronic music has taken
            over. I enjoy fusing together elements of electronic, alternative
            rock and industrial genres. In 2025 I've released three albums;
            <a href="/music/vos">Valley of Subconscious</a>, <a href="/music/mi"
                >Mi</a
            > and
            <a href="/music/leura">Leura</a>. These follow on from the 2019
            release of Exit Mesa which was recorded in San Jose and then mixed
            and mastered in Sydney and on my plane trips between the two. These
            albums uses a combination of electronic instruments, hardware and
            software, combined with guitar parts recorded live. I had the
            pleasure of performing work from this album at a few shows in San
            Francisco and Oakland.
        </p>

        <p class="text-1">
            <a href="/music" class="underline"
                >Learn more and listen to these albums.</a
            >
        </p>
    </div>
    <div class="flex flex-col flex-grow h-72 md:h-36 min-h[200px]">
        <iframe
            src="https://www.youtube.com/embed/videoseries?list=OLAK5uy_mEmsHgou8_pIzQcnOT_6Vl5J7oivwZm6w"
            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen=""
            class="rounded-lg flex-grow"></iframe>
    </div>
</PagePreview>
