---
import { Image, Picture } from "@astrojs/image/components";
interface Props {
  title: string;
  subtitle?: string;
}
const { title, subtitle } = Astro.props;
---

<div
  x-data="{open: false}"
  class={`bg-black text-neutral-50 flex flex-col    `}
>
  <div class="bg-black bg-opacity-70 flex-grow">
    <div class="flex items-center p-5">
      <div class="heading-4 flex flex-row items-center gap-5">
        <div
          class="rounded-lg w-12 sm:w-14 h-12 sm:h-14 overflow-clip ring-2 ring-neutral-200 bg-neutral-800"
        >
          <Image
            src="/about/headshot.png"
            width={500}
            height={500}
            fit="cover"
            alt="James Wilson"
            format="webp"
          />
        </div>
        <a href="/" class="text-neutral-100">James Wilson</a>
      </div>
      <div
        class="hidden md:flex flex-grow flew-row justify-end gap-2 link-navbar"
      >
        <a href="/">Home</a>
        <a href="/engineer">Engineer</a>
        <a href="/leader">Leader</a>
        <a href="/astro">Astro</a>
        <a href="/music">Music</a>
        <a href="/about">About</a>
      </div>
      <div class="flex flex-grow justify-end md:hidden">
        <button @click="open = !open">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="feather feather-menu"
            ><line x1="3" y1="12" x2="21" y2="12"></line><line
              x1="3"
              y1="6"
              x2="21"
              y2="6"></line><line x1="3" y1="18" x2="21" y2="18"></line></svg
          >
        </button>
      </div>
    </div>
    <div
      class="p-5"
      x-show="open"
      x-transition:enter="transition ease-out duration-100"
      x-transition:enter-start="transform opacity-0 scale-100"
      x-transition:enter-end="transform opacity-100 scale-100"
      x-transition:leave="transition ease-in duration-100"
      x-transition:leave-start="transform opacity-100 scale-100"
      x-transition:leave-end="transform opacity-0 scale-100"
    >
      <div class="flex flex-col items-end gap-5 link-navbar">
        <a href="/">Home</a>
        <a href="/engineer">Engineer</a>
        <a href="/leader">Leader</a>
        <a href="/astro">Astro</a>
        <a href="/music">Music</a>
        <a href="/about">About</a>
      </div>
    </div>
    <div class="p-5">
      <h1 class="heading-2">{title}</h1>
      {subtitle && <h2 class="heading-3">{subtitle}</h2>}
    </div>
  </div>
</div>
