---
import BaseLayout from "./BaseLayout.astro";

interface Props {
  title: string;
  background?: string;
}
const { title, background } = Astro.props;
---

<BaseLayout title={title}>
  <div
    class={`flex h-32 bg-black text-white ${
      background && `bg-[url("${background}")] bg-cover`
    }`}
  >
    <div
      class="flex h-full w-full bg-black bg-opacity-50 justify-center items-center"
    >
      <h1 class="text-4xl">{title}</h1>
    </div>
  </div>
  <slot />
</BaseLayout>
