---
import NavBar from "../components/NavBar.astro";
import BaseLayout from "./BaseLayout.astro";

interface Props {
  title: string;
  subtitle?: string;
}
const { title, subtitle } = Astro.props;
---

<BaseLayout title={title}>
  <NavBar title={title} subtitle={subtitle} />
  <div class="bg-white text-neutral-900">
    <slot />
  </div>
</BaseLayout>
