---
import BaseLayout from "./BaseLayout.astro";

interface Props {
  title: string;
  subtitle?: string;
  background?: string;
}
const { title, subtitle, background } = Astro.props;
---

<BaseLayout title={title}>
  <div class={`flex h-32 bg-black text-white ${background} bg-cover`}>
    <div
      class="flex flex-col h-full w-full bg-black bg-opacity-50 justify-center items-center"
    >
      <h1 class="text-4xl">{title}</h1>
      {subtitle && <h2>{subtitle}</h2>}
    </div>
  </div>
  <slot />
</BaseLayout>
